[Unit]
Description=Tinc Service
After=etcd.service etcd3.service flanneld.service
Before=fleet.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c "echo \"TINC_HOSTNAME=`hostname | sed -e 's/-/_/g'`\" > /etc/tinc-env"
