[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
Conflicts=etcd.service
Conflicts=etcd2.service
{% if baremetal_provider != 'vagrant' %}
Requires=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service setup-subnet-routes.service
Requires=setup-subnet-routes.service
{% else  %}
Requires=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service
{% endif %}

[Service]
Type=notify
Restart=always
RestartSec=5s
LimitNOFILE=40000
TimeoutStartSec=0
# Client Env Vars
Environment=ETCD_CA_FILE=/etc/ssl/etcd/ca.crt
Environment=ETCD_CERT_FILE=/etc/ssl/etcd/key.crt
Environment=ETCD_KEY_FILE=/etc/ssl/etcd/key.key
# Peer Env Vars
Environment=ETCD_PEER_CA_FILE=/etc/ssl/etcd/ca.crt
Environment=ETCD_PEER_CERT_FILE=/etc/ssl/etcd/key.crt
Environment=ETCD_PEER_KEY_FILE=/etc/ssl/etcd/key.key
# etcd version
Environment=ETCD_IMAGE_TAG=v3.1.6
# etcd user
Environment=ETCD_USER=root
Environment=ETCD_DATA_DIR=/var/lib/etcd3
Environment="RKT_RUN_ARGS=--volume etc-ssl-etcd,kind=host,source=/etc/ssl/etcd,readOnly=true --mount volume=etc-ssl-etcd,target=/etc/ssl/etcd"

ExecStart=/usr/lib64/coreos/etcd-wrapper --name {{ coreos_hostname }} \
    --data-dir /var/lib/etcd \
    --listen-client-urls https://{{ inventory_hostname }}:2379,https://{{ inventory_hostname }}:4001\
    --advertise-client-urls  https://{{ inventory_hostname }}:2379 \
    --listen-peer-urls https://{{ inventory_hostname }}:2380 \
    --initial-advertise-peer-urls https://{{ inventory_hostname }}:2380 \
    --initial-cluster {% for host in groups['etcd-node'] %}{{ hostvars[host]['coreos_hostname'] }}=https://{{host}}:2380{%if not loop.last %},{% endif %}{% endfor %} \
    --initial-cluster-token my-etcd-token \
    --initial-cluster-state new

[Install]
WantedBy=multi-user.target
