[Unit]
Description=etcd waiter
Wants=network-online.target
Wants=etcd3.service
After=etcd3.service
After=network-online.target
Before=setup-network-environment.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/chmod +x /opt/bin/waiter.sh
ExecStart=/usr/bin/bash /opt/bin/waiter.sh
RemainAfterExit=true
Type=oneshot
