global
    daemon
    maxconn 256
defaults
    mode tcp
    default-server inter 1s fall 2
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
backend apiserver_backend
    mode tcp
    balance source
    hash-type consistent
{% for apiserver in groups['kubernetes-master'] %}
    server kube{{ loop.index }} {{ apiserver }}:6443 check
{% endfor %}
frontend apiserver_frontend
    mode tcp
    bind *:8080
    default_backend apiserver_backend
