FLANNELD_ETCD_ENDPOINTS=https://{{ inventory_hostname }}:4001
FLANNELD_ETCD_KEYFILE=/etc/ssl/etcd/key.key
FLANNELD_ETCD_CERTFILE=/etc/ssl/etcd/key.crt
FLANNELD_ETCD_CAFILE=/etc/ssl/etcd/ca.crt
FLANNELD_IFACE={{ inventory_hostname }}
