write_files:
- path: /etc/environment
  permissions: 0774
  owner: root
  content: |
    COREOS_PUBLIC_IPV4={{ inventory_hostname }}
    COREOS_PRIVATE_IPV4={{ inventory_hostname }}
    ETCDCTL_CERT_FILE=/etc/ssl/etcd/key.crt
    ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.crt
    ETCDCTL_PEERS="{% for host in groups['etcd-node'] %}https://{{host}}:2379{%if not loop.last %},{% endif %}{% endfor %}"
    ETCDCTL_KEY_FILE=/etc/ssl/etcd/key.key
    LOCKSMITHCTL_ETCD_CERTFILE=/etc/ssl/etcd/key.crt
    LOCKSMITHCTL_ETCD_CAFILE=/etc/ssl/etcd/ca.crt
    LOCKSMITHCTL_ENDPOINT=https://{{ inventory_hostname }}:2379
    LOCKSMITHCTL_ETCD_KEYFILE=/etc/ssl/etcd/key.key
