#!/bin/bash
# sleep a rondom delay between 0 and five minutes to prevent every machine trying to get the lock at the same time
delay=$(/usr/bin/expr $RANDOM % 300 )
sleep $delay

if locksmithctl lock || locksmithctl status | grep `cat /etc/machine-id`; then
    rebootflag='NEED_REBOOT'
    if update_engine_client -status | grep $rebootflag || etcdctl get  /needsreboot/$( cat /etc/machine-id); then
        if /opt/bin/ceph  health | grep HEALTH_OK && /opt/bin/k8s_healthy; then
            if  ! etcdctl get /rebootlock;  then
                etcdctl rm /needsreboot/$( cat /etc/machine-id) || true;
                etcdctl set /rebootlock "Reboot  machines locked for 1h" --ttl 3600
                echo "all checks for update window passed; rebooting now";
                reboot;
            else
                echo "reboot is locked"
            fi
        else
            echo "reboot needed but ceph is not health; delay reboot"
            locksmithctl unlock;
        fi
    else
        echo "no reboot needed, unlock"
        locksmithctl unlock;
    fi
fi
